.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .title {
        font-size: 30px;
        font-weight: 700;
    }
    .subtitle {
        font-weight: 500;
    }
    button {
        height: 52px;
        width: 193px;
        color: #f5f7fb;
        background-color: #4d5b9e;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
    }
    .blob {
        position: absolute;
    }
    .blob1 {
        top: 0;
        right: 0;
    }
    .blob2 {
        left: 0;
        bottom: 0;
    }
}
